{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
{% if user.profile.position.id = 3 %}

<strong><h4>Create/Update Menu Item: </h4></strong><hr>

  <form class="" action="" method="post" enctype=multipart/form-data>
    {% csrf_token %}

      <div class="form-group">
        <label for="item_name">Item Name</label>
        {{ form.item|add_class:"form-control" }}
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        {{ form.description|add_class:"form-control" }}
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        {{ form.category|add_class:"form-control" }}
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        {{ form.price|add_class:"form-control" }}
      </div>

      <div class="form-group">
        <label for="photo_upload">Photo Upload</label>
        {{ form.photo|add_class:"form-control" }}
      </div>

      <div class="form-group">
        {{form.errors}}
      </div>
      <button type="submit" class="btn btn-primary">Submit Menu Item</button>
      <a class="btn btn-danger" href="{% url 'menu_item_delete_view' object.pk %}" role="button" style="float:right">Delete Menu Item</a>

  </form>
  {% else %}
  <h3><em>You don't have permission to view this page.</em></h3>
  {% endif %}
{% endblock %}
