{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
{% if user.profile.position.id = 3 %}

<strong><h4>Create/Update Menu Item: </h4></strong><hr>

  <form class="" action="" method="post" enctype=multipart/form-data>
    {% csrf_token %}

    {{form|bootstrap}}

      <div class="form-group">
        {{form.errors}}
      </div>
      <button type="submit" class="btn btn-primary">Submit Menu Item</button>
      {% if object.pk %}
      <a class="btn btn-danger" href="{% url 'menu_item_delete_view' object.pk %}" role="button" style="float:right">Delete Menu Item</a>
      {% endif %}
  </form>
  <br>
  <a href={% url 'menu_item_list_view' %}><em>Return to Menu List Without Change</em></a>



  {% else %}
  <h3><em>You don't have permission to view this page.</em></h3>
  <br>
  <a href="javascript:history.go(-1)"><em>Return to Previous Page</em></a>

  {% endif %}

{% endblock %}
