{% extends "base.html" %}

{% block content %}
{% if user.profile.position.id = 3 %}
<div class="row">
  <div class="col-md-6"><strong><h3>Menu Items: </h3></strong></div>
  <div class="col-md-6"><a class="btn btn-primary btn-lg" href="{% url 'menu_item_create_view' %}" role="button" style="float:right">Create New Menu Item</a></div>
</div>

<hr>


{% for category in object_list %}
<ul>
  <h4>{{category.category}}</h4>
  {% for item in category.menu_set.all %}
  <ul>
    <div class="media">
      <div class="media-left">
        <a href="{% url 'menu_item_update_view' item.pk %}">
          <img class="media-object" src='{{item.photo_url}}' alt="" width="48" height="48">
        </a>
      </div>
      <div class="media-body">
        <table class='table'>
          <tr>
            <div class="media-body">
            <td><h4 class="media-heading" id='inline'>{{item.item}}</h4></td>
            <td>  <h4 class='media-heading' id='inline' style="float:right">$ {{item.price}}</h4></td>
          </tr>
        </table>
      </div>
    </div>
  </ul>

  {% endfor %}
</ul>


{% endfor %}





{% else %}
<h3><em>You don't have permission to view this page.</em></h3>
{% endif %}

{% endblock %}
