{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
{% if user.profile.position.id = 3 %}

<strong><h4>Create New Menu Item: </h4></strong><hr>

  <form class="" action="{% url 'menu_item_create_view' %}" method="post" enctype=multipart/form-data>
    {% csrf_token %}

      <div class="form-group">
        <label for="item_name">Item Name</label>
        {{ form.item|add_class:"form-control" }}
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        {{ form.description|add_class:"form-control" }}
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        {{ form.category|add_class:"form-control" }}
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        {{ form.price|add_class:"form-control" }}
      </div>

      <div class="form-group">
        <label for="photo_upload">Photo Upload</label>
        {{ form.photo|add_class:"form-control" }}
      </div>

      <div class="form-group">
        {{form.errors}}
      </div>
      <button type="submit" class="btn btn-default">Create Menu Item</button>

  </form>
  {% else %}
  <h3><em>You don't have permission to view this page.</em></h3>
  {% endif %}
{% endblock %}
