{% extends "base.html" %}
{% block content %}
<form method="post" action="">

{% csrf_token %}
  <table class="responsive-table">
  <thead>
    <tr>
        <th data-field="name">Item</th>
        <th data-field="quantity">Quantity</th>
        <th data-field="notes">Notes</th>

    </tr>
  </thead>
{{ item_form.management_form }}

{% for form in item_form %}
  <tbody>
    <tr>
      <td>{{form.item}}</td>
      <td>{{form.quantity}}</td>
      <td>{{form.notes}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
<button class="btn waves-effect waves-light red accent-2"  type="submit" name="action">Submit</button>
</form>


{% endblock %}
