{% extends "base.html" %}

{% block content %}
{% for object in object_list %}
<ul class="collection">
<table>
  <tr>
<td>
  <a href="{% url 'items_list_view' object.pk %}">Order # {{object.id}}</a>
  <div>
    <small><em>Server: {{object.server}}</em></small>
  </div>
  <div>
    <small><em>Timestamp: {{object.created}}</em></small>
  </div>
</td>

    <td>
      <form action="#" style='float:right'>
        <p>
          <input type="checkbox" id="test5" />
          <label for="test5">Complete</label>
        </p>
        </form>
    </td>

  </tr>
</table>
</ul>

{% endfor %}


{% endblock %}
