{% extends "base.html" %}
{% block content %}
{# {% if user.profile.position.id = 1 %}#}
  <form class="form-inline" action="" method="post">
    {% csrf_token %}
<table>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Notes</th>
  </tr>
  {% for formset in inlines %}

  <tr>
    {{formset.as_table}}
  </tr>

    {% endfor %}
</table>
    {{form.as_table}}
<br>
    <button class="btn waves-effect waves-light red accent-2"  type="submit" name="action">Submit
    </button>
  </form>
  {# {% endif %}#}
{% endblock %}
