{% extends "base.html" %}
{% block content %}
{% if profile.position == None %}
<form class="" action="" method="post">
  {% csrf_token %}

  <div class="input-field col s12">
   <select name='position'>
     <option value="" disabled selected>Choose your option</option>
     <option value="1">Server</option>
     <option value="2">Cook</option>
     <option value="3">Owner</option>
   </select>
   <label>Position</label>
 </div>
  <button class="btn waves-effect waves-light red accent-2"  type="submit" name="">Submit
  </button>
</form>
{% else %}

{% if profile.position.id = 3 %}
<a class="waves-effect waves-light red accent-2 btn-large" href="{% url 'menu_item_create_view' %}">Create Menu Item</a>
<a class="waves-effect waves-light red accent-2 btn-large" href="{% url 'menu_item_list_view' %}">List Menu Items</a>
    <a href="{% url 'order_create_view' %}">Create Order</a>
{% endif %}

{% if profile.position.id = 2 %}
<a class="waves-effect waves-light red accent-2 btn-large" href="{% url 'order_list_view' %}">Pending Orders</a>
{% endif %}

{% if profile.position.id = 1 %}Server
<a class="waves-effect waves-light red accent-2 btn-large" href="{% url 'order_create_view' %}">Create Order</a>

Create Order / Mark Table as Paid
{% endif %}
{% endif %}

{% endblock %}
