{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
{% if profile.position == None %}
<form class="" action="" method="post">
  {% csrf_token %}

  {{form|bootstrap}}

  <br>
  <br>
  <button type="submit" class="btn btn-default">Submit Position</button>

</form>
{% else %}

{% if profile.position.id = 3 %}
{# Owner#}
<a class="btn btn-default btn-lg" href="{% url 'menu_item_create_view' %}" role="button">Create Menu Item</a>
<a class="btn btn-default btn-lg" href="{% url 'menu_item_list_view' %}" role="button">List Menu Items</a>
{% endif %}

{% if profile.position.id = 2 %}
{# Cook#}
<a class="btn btn-default btn-lg" href="{% url 'order_list_view' %}" role="button">Pending Orders</a>
{% endif %}

{% if profile.position.id = 1 %}
{# Server#}
<a class="btn btn-default btn-lg" href="{% url 'order_create_view' %}" role="button">Create Order</a>
<a class="btn btn-default btn-lg" href="{% url 'order_list_view' %}" role="button">Unpaid Orders</a>

{% endif %}
{% endif %}

{% endblock %}
